body{
    background-color: black
}

h1{
    color: white;
    padding-top: 60px;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

div{
    text-align: center;
}